@model Chat.Models.ChatRoomLabelViewModelList
<table>
    @foreach (var item in Model)
    {
        <tr class="room-label">
            <td class="room-id">@item.Label.Id</td>
            <td>@Html.ActionLink(item.Label.Name, "Chat", new { id = item.Label.Id})</td>
            <td>@item.Label.Owner</td>
        </tr>
    }
</table>