@model Chat.Models.LoginName
@{
    ViewBag.Title = "Home Page";
}

<div>
    @using (Html.BeginForm("StartDialog", "Chat", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Name, new { id = "name"});
        @Html.ValidationMessageFor(model => model.Name);
        <span class="error">This login already exists.</span>
        <input type="submit" value="Next" id="btnNext" />
    }
</div>
@section scripts{
    <script type="text/javascript">

        $(".error").hide();

        $("#btnNext").on("click", function (e) {
           // e.preventDefault();
            var name = $("#name").val();

            $.ajax({
                method: "POST",
                url: "/Chat/ValidateName",
                data: { name: name },
                success: function (response) {
                    if (response === true)
                        $(".error").show();

                    $(".error").hide();
                    console.log(response);
                },
                error: function (response) {
                    console.log(error);
                }
            });
        });
    </script>
}