@model Chat.Models.LoginName
@{
    ViewBag.Title = "Home Page";
}
<h1>Set login</h1>
<div class="form">
    @using (Html.BeginForm("GoToRoomsList", "Chat", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Name, new { id = "name", required="required"});

        <input type="submit" value="Next" class="btn" />
        <span class="error">This login already exists.</span>
        @Html.ValidationMessageFor(model => model.Name);
    }
</div>
@section scripts{
    <script type="text/javascript">

        $(".error").hide();

        $(".form .btn").on("click", function (e) {
            var name = $("#name").val();
            $.ajax({
                async: false,
                method: "GET",
                url: "/Chat/ValidateName",
                data: { name: name },
                success: function (response) {
                    if (response == "True") {
                        e.preventDefault();
                        $(".error").show();
                        console.log("istnieje");
                    }  
                    else
                    $(".error").hide();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
}